html,
body {
  height: 100%;
  font-size: .26rem;
}

body {
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*font-size: .14rem;*/
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


/*单行超出文本省略号*/

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*最大页面宽度*/

$limit: 750px;

.limit_width {
  margin: 0 auto;
  width: 7.5rem;
}


/*定位元素水平垂直居中*/

.center_fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  max-width: $limit;
}


/*placeholder颜色设定*/

::-webkit-input-placeholder {
  color: #ccc;
}


.border {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  &:last-child::after {
    opacity: 0;
  }
}

/* 2倍屏 */

@media only screen and (-webkit-min-device-pixel-ratio: 2.0) {
  .border::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

/* 3倍屏 */

@media only screen and (-webkit-min-device-pixel-ratio: 3.0) {
  .border::after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
