
/* js共享变量 */
.js-primary{ color: $js-primary }
/* 伪类 */
a {
    @include colorFixed(text-decoration,none)
}
/**************************** 文本颜色 ****************************/ 
.f_l{ @include colorFixed(color,$l) }
.f_m{ @include colorFixed(color,$m) }
.f_s{ @include colorFixed(color,$s) }

/**************************** 黑白灰 ****************************/ 
.f_black,.f_000 { @include colorFixed(color,$black) }
.f_white,.f_fff { @include colorFixed(color,$white) }
.f_lightGray { @include colorFixed(color,$lightGray) }
.f_gray { @include colorFixed(color,$gray) }
.f_darkgray { @include colorFixed(color,$darkgray) }

/**************************** red：红 ****************************/
.f_red { @include colorFixed(color,$red) }
.f_red_res { @include colorRes(color,#717171,#F77A5F,#F77A5F,$ccc) }

/**************************** green：绿 ****************************/
.f_green { @include colorFixed(color,$green) }
.f_darkGreen { @include colorFixed(color,$darkGreen) }

/**************************** blue：蓝 ****************************/
.f_blue { @include colorFixed(color,$blue) }
.f_blue_res {@include colorRes(color,#01B7F2,#01B7F2,#00a3d8,$ccc) }

.f_sky { @include colorFixed(color,$sky) }

/**************************** orange：橘 ****************************/ 
.f_orange { @include colorFixed(color,$orange) }


/**************************** yellow：黄 ****************************/ 
.f_yellow { @include colorFixed(color,$yellow) }

/**************************** repeat ****************************/ 
.f_aaa { @include colorFixed(color,$aaa) }
.f_bbb { @include colorFixed(color,$bbb) }
.f_ccc { @include colorFixed(color,$ccc) }
.f_ddd { @include colorFixed(color,$ddd) }
.f_eee { @include colorFixed(color,$eee) }
.f_fff { @include colorFixed(color,$fff) }
.f_000 { @include colorFixed(color,$c000) }
.f_111 { @include colorFixed(color,$c111) }
.f_222 { @include colorFixed(color,$c222) }
.f_333 { @include colorFixed(color,$c333) }
.f_444 { @include colorFixed(color,$c444) }
.f_555 { @include colorFixed(color,$c555) }
.f_666 { @include colorFixed(color,$c666) }
.f_777 { @include colorFixed(color,$c777) }
.f_888 { @include colorFixed(color,$c888) }
.f_999 { @include colorFixed(color,$c999) }
/**************************** simple ****************************/ 
.f_40 { @include colorFixed(color,$c40) }
.f_75 { @include colorFixed(color,$c75) }


.placeholder{
	&::-webkit-input-placeholder{
		color:  $ccc;
	}
}
::-webkit-input-placeholder{
	color:  $ccc;
}

/*背景颜色*/
.bg_white,.bg_fff {background-color:$white;}
.bg_fff_blue_res {@include colorRes(background-color,#fff,#01B7F2,#00a3d8,#DCDCDC) }
.bg_body,.bg_f5 {background-color:$cf5;}
.bg_wx {background-color:$wx;color:#fff;}/*微信黑*/
.bg_wx_ios {background-color:$wx_ios;color:#fff;}/*微信黑*/
.bg_lightGray {background-color:$lightGray;}/*灰色*/
.bg_gray {background-color:$gray;}/*灰色*/
.bg_darkgray {background-color:$darkgray;}/*深灰色*/
.bg_disabled {background-color:$c9a;cursor: not-allowed !important;}/*禁止点击*/
.bg_black,.bg_000 {background-color:$black;}/*黑色*/
.bg_orange {background-color:$orange;}
.bg_yellow {background-color:$yellow;}
.bg_blue {background-color:$blue;}
.bg_blue_res {@include colorRes(background-color,#01B7F2,#01B7F2,#00a3d8,$ccc) }
.bg_sky {background-color:$sky;}
.bg_green {background-color:$green;}
.bg_red {background-color:$red;}
.noBg {background:transparent;}

/* 边框相关 */
.dashed_blue_res{@include borderRes(#999,#DCDCDC,#70D2F5,#01B7F2,#DCDCDC,1px,dashed) }

/* 提示问题 */
.placeholder{
	&::-webkit-input-placeholder{
		color:  #999;
	}
}