@charset "UTF-8";
/************************************** font-size **************************************/
/**************************** margin | padding ****************************/
/************************************** mixin **************************************/
/* 浏览器兼容-属性名 | Koala或gulp用autoprefixer自动编译 */
/* 浏览器兼容-属性值 | Koala或gulp用autoprefixer自动编译 */
/* border边框1px */
/* before||after——边框0.5px */
/* 超出隐藏 */
/* 多行超出银行 */
/* 清楚浮动 */
/* 透明度 */
/* 绝对定位 */
/* 图片背景 */
/* 响应式icon */
/* 伪类设置 */
/* 交互颜色响应颜色 */
/* 边框交互颜色曾经报错： Required parameters must precede optional parameters(必需的参数必须在可选参数之前) */
/* scroll滚动条样式。参考:https://www.lyblog.net/detail/314.html */
/* 应用在父级层生效 */
/************************************** simple:bailicangdu; **************************************/
/* 背景图片地址和大小 */
/* 定位全屏 */
/* 定位上下左右居中 */
/* 定位上下居中 */
/* 定位上下居中 */
/* 宽高 */
/* 字体大小、行高、字体 */
/* 字体大小，颜色 */
/* flex 布局和 子元素 对其方式 */
/************************************** others **************************************/
/* for link */
/* text shadow */
/*  */
/* rotate */
/* rotate and zoom */
/* zoom */
/* move */
/* no select */
/* one line text for ... */
/* calc */
/*  */
/* 格栅布局 */
/* 参考：http://isux.tencent.com/css3/?animation-timing-function */
/* **************************************** 动画效果 **************************************** */
.class {
  /* 开启GPU硬件加速 */
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 1000;
          perspective: 1000; }

/* **************************************** animation[动画] **************************************** */
/* 参考：http://www.runoob.com/cssref/css3-pr-animation.html */
/* 语法：animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
/* animation-name[动画名称] */
/* animation-duration[动画时间]:正数，单位可以是秒(s)或者毫秒(ms)。默认值为0，表明动画不执行。 */
/* animation-timing-function[播放方式]:ease[缓解效果]linear[线性效果]ease-in[渐显效果]ease-out[渐隐效果]ease-in-out[渐显渐隐效果]。 */
/* animation-delay[开始播放时间]:默认值0表示立即执行，正数为动画延迟一定时间，负数为截断一定时间内的动画。单位为秒(s)或毫秒(s)。 */
/* animation-iteration-count[播放次数]:number:次数.infinite:无限循环. */
/* animation-direction[播放方向]:normal[正常]reverse[反向]alternate[正-正反交替循环]alternate-reverse[反-正反交替循环] */
/* animation-fill-mode[播放后的状态]:none[默认]forwards[结束状态]backwards[开始状态]both[orwards-backwards] */
/* animation-play-state[对象动画的状态]running[运动]paused[暂停] */
/* 自定义：动画  (名称,持续时间 ,播放方式 ,延迟  ,次数  ,方向      ,结束状态) */
/* 动画名称(@keyframes) */
/* **************************************** transform[变形基础] **************************************** */
/* 参考：http://www.runoob.com/cssref/css3-pr-transform.html */
/* 动作：transform: none|transform-functions; */
/* transform-functions[关联动作] */
/* rotate()[旋转] */
/* scale()[缩放] */
/* translate()[位移] */
/* skew()[倾斜] */
/* matrix()[矩阵变形] */
/* perspective[透视] */
/* 关联属性 */
/* transform-origin[变形原点] */
/* perspective-origin[透视原点] */
/* backface-visibility[隐藏内容的背面] */
/* transform-style[3D呈现] */
/* **************************************** transition:过渡 **************************************** */
/* 参考：http://www.runoob.com/cssref/css3-pr-transition.html */
/* 语法：transition: property duration timing-function delay; */
/* transition-property[过渡的CSS属性] */
/* transition-duration[过渡时间] */
/* transition-timing-function[过渡效果] */
/* transition-delay[延迟时间] */
/* **************************************** vue动画 **************************************** */
/* 参考：https://cn.vuejs.org/v2/api/#transition */
/* 参考：https://cn.vuejs.org/v2/guide/transitions.html */
/* 左右滑动+渐显渐隐：<transition name="slide-fade"> */
.slide-fade-enter-active, .slide-fade-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0; }

/* 渐显渐隐：<transition name="fade"> */
.fade-enter-active, .fade-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

/* **************************************** case:例子 **************************************** */
/* loading:来自weui-loading */
.loading {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: weuiLoading 1s steps(12, end) infinite;
          animation: weuiLoading 1s steps(12, end) infinite;
  background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
  background-size: 100%; }
  .loading.loading_transparent,
  .btn_loading .loading {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect xmlns='http://www.w3.org/2000/svg' width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.56)' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.5)' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.43)' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.38)' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.32)' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.28)' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.25)' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.2)' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.17)' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.14)' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.1)' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.03)' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E"); }

@-webkit-keyframes weuiLoading {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
            transform: rotate3d(0, 0, 1, 360deg); } }

@keyframes weuiLoading {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
            transform: rotate3d(0, 0, 1, 360deg); } }

/* 刀光剑影 */
.killLight:before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 100%;
  bottom: 0;
  right: -1.5rem;
  overflow: hidden; }

.killLight.active::before {
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  right: 5rem; }

/* 呼吸breathe */
@-webkit-keyframes breathe {
  from {
    -webkit-box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 3px rgba(27, 154, 247, 0.8);
            box-shadow: 0px 0px 3px rgba(27, 154, 247, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3); } }
@keyframes breathe {
  from {
    -webkit-box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 3px rgba(27, 154, 247, 0.8);
            box-shadow: 0px 0px 3px rgba(27, 154, 247, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 1px rgba(27, 154, 247, 0.3); } }

.breathe {
  -webkit-animation: breathe 2s ease infinite;
          animation: breathe 2s ease infinite; }

/* 显示2s */
@-webkit-keyframes show_s {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes show_s {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

.show1s {
  -webkit-animation: show_s 0.3s ease 1s forwards;
          animation: show_s 0.3s ease 1s forwards; }

.show2s {
  -webkit-animation: show_s 0.3s ease 2s forwards;
          animation: show_s 0.3s ease 2s forwards; }

/* 渐显 */
.fade {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear; }

.fade.in {
  opacity: 1; }

.transition {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* 函数 */
/**************************** 文本颜色 ****************************/
/**************************** 黑白灰 ****************************/
/**************************** red：红 ****************************/
/**************************** green：绿 ****************************/
/**************************** blue：蓝 ****************************/
/**************************** orange：橘 ****************************/
/**************************** yellow：黄 ****************************/
/**************************** repeat ****************************/
/**************************** simple ****************************/
/* 伪类 */
a {
  text-decoration: none; }
  a:active, a:hover, a:link, a:visited, a:focus {
    text-decoration: none; }

.primary-color {
  color: #0C4CFF; }

/**************************** 文本颜色 ****************************/
.f_l {
  color: #212121; }
  .f_l:active, .f_l:hover, .f_l:link, .f_l:visited, .f_l:focus {
    color: #212121; }

.f_m {
  color: #424242; }
  .f_m:active, .f_m:hover, .f_m:link, .f_m:visited, .f_m:focus {
    color: #424242; }

.f_s {
  color: #757575; }
  .f_s:active, .f_s:hover, .f_s:link, .f_s:visited, .f_s:focus {
    color: #757575; }

/**************************** 黑白灰 ****************************/
.f_black, .f_000 {
  color: #000; }
  .f_black:active, .f_black:hover, .f_black:link, .f_black:visited, .f_black:focus, .f_000:active, .f_000:hover, .f_000:link, .f_000:visited, .f_000:focus {
    color: #000; }

.f_white, .f_fff {
  color: #fff; }
  .f_white:active, .f_white:hover, .f_white:link, .f_white:visited, .f_white:focus, .f_fff:active, .f_fff:hover, .f_fff:link, .f_fff:visited, .f_fff:focus {
    color: #fff; }

.f_lightGray {
  color: #f9f9f9; }
  .f_lightGray:active, .f_lightGray:hover, .f_lightGray:link, .f_lightGray:visited, .f_lightGray:focus {
    color: #f9f9f9; }

.f_gray {
  color: #757575; }
  .f_gray:active, .f_gray:hover, .f_gray:link, .f_gray:visited, .f_gray:focus {
    color: #757575; }

.f_darkgray {
  color: #585c64; }
  .f_darkgray:active, .f_darkgray:hover, .f_darkgray:link, .f_darkgray:visited, .f_darkgray:focus {
    color: #585c64; }

/**************************** red：红 ****************************/
.f_red {
  color: #FF7A6F; }
  .f_red:active, .f_red:hover, .f_red:link, .f_red:visited, .f_red:focus {
    color: #FF7A6F; }

.f_red_res {
  color: #717171; }
  .f_red_res.active, .f_red_res:hover {
    color: #F77A5F; }
  .f_red_res:active, .f_red_res:focus, .f_red_res:visited {
    color: #F77A5F; }
  .f_red_res.disabled, .f_red_res[disabled] {
    color: #ccc; }

/**************************** green：绿 ****************************/
.f_green {
  color: #1aad19; }
  .f_green:active, .f_green:hover, .f_green:link, .f_green:visited, .f_green:focus {
    color: #1aad19; }

.f_darkGreen {
  color: #00c853; }
  .f_darkGreen:active, .f_darkGreen:hover, .f_darkGreen:link, .f_darkGreen:visited, .f_darkGreen:focus {
    color: #00c853; }

/**************************** blue：蓝 ****************************/
.f_blue {
  color: #0097ff; }
  .f_blue:active, .f_blue:hover, .f_blue:link, .f_blue:visited, .f_blue:focus {
    color: #0097ff; }

.f_blue_res {
  color: #01B7F2; }
  .f_blue_res.active, .f_blue_res:hover {
    color: #01B7F2; }
  .f_blue_res:active, .f_blue_res:focus, .f_blue_res:visited {
    color: #00a3d8; }
  .f_blue_res.disabled, .f_blue_res[disabled] {
    color: #ccc; }

.f_sky {
  color: #40bdec; }
  .f_sky:active, .f_sky:hover, .f_sky:link, .f_sky:visited, .f_sky:focus {
    color: #40bdec; }

/**************************** orange：橘 ****************************/
.f_orange {
  color: #fd9900; }
  .f_orange:active, .f_orange:hover, .f_orange:link, .f_orange:visited, .f_orange:focus {
    color: #fd9900; }

/**************************** yellow：黄 ****************************/
.f_yellow {
  color: #fdd835; }
  .f_yellow:active, .f_yellow:hover, .f_yellow:link, .f_yellow:visited, .f_yellow:focus {
    color: #fdd835; }

/**************************** repeat ****************************/
.f_aaa {
  color: #aaa; }
  .f_aaa:active, .f_aaa:hover, .f_aaa:link, .f_aaa:visited, .f_aaa:focus {
    color: #aaa; }

.f_bbb {
  color: #bbb; }
  .f_bbb:active, .f_bbb:hover, .f_bbb:link, .f_bbb:visited, .f_bbb:focus {
    color: #bbb; }

.f_ccc {
  color: #ccc; }
  .f_ccc:active, .f_ccc:hover, .f_ccc:link, .f_ccc:visited, .f_ccc:focus {
    color: #ccc; }

.f_ddd {
  color: #ddd; }
  .f_ddd:active, .f_ddd:hover, .f_ddd:link, .f_ddd:visited, .f_ddd:focus {
    color: #ddd; }

.f_eee {
  color: #eee; }
  .f_eee:active, .f_eee:hover, .f_eee:link, .f_eee:visited, .f_eee:focus {
    color: #eee; }

.f_fff {
  color: #fff; }
  .f_fff:active, .f_fff:hover, .f_fff:link, .f_fff:visited, .f_fff:focus {
    color: #fff; }

.f_000 {
  color: #000; }
  .f_000:active, .f_000:hover, .f_000:link, .f_000:visited, .f_000:focus {
    color: #000; }

.f_111 {
  color: #111; }
  .f_111:active, .f_111:hover, .f_111:link, .f_111:visited, .f_111:focus {
    color: #111; }

.f_222 {
  color: #222; }
  .f_222:active, .f_222:hover, .f_222:link, .f_222:visited, .f_222:focus {
    color: #222; }

.f_333 {
  color: #333; }
  .f_333:active, .f_333:hover, .f_333:link, .f_333:visited, .f_333:focus {
    color: #333; }

.f_444 {
  color: #444; }
  .f_444:active, .f_444:hover, .f_444:link, .f_444:visited, .f_444:focus {
    color: #444; }

.f_555 {
  color: #555; }
  .f_555:active, .f_555:hover, .f_555:link, .f_555:visited, .f_555:focus {
    color: #555; }

.f_666 {
  color: #666; }
  .f_666:active, .f_666:hover, .f_666:link, .f_666:visited, .f_666:focus {
    color: #666; }

.f_777 {
  color: #777; }
  .f_777:active, .f_777:hover, .f_777:link, .f_777:visited, .f_777:focus {
    color: #777; }

.f_888 {
  color: #888; }
  .f_888:active, .f_888:hover, .f_888:link, .f_888:visited, .f_888:focus {
    color: #888; }

.f_999 {
  color: #999; }
  .f_999:active, .f_999:hover, .f_999:link, .f_999:visited, .f_999:focus {
    color: #999; }

/**************************** simple ****************************/
.f_40 {
  color: #404040; }
  .f_40:active, .f_40:hover, .f_40:link, .f_40:visited, .f_40:focus {
    color: #404040; }

.f_75 {
  color: #757575; }
  .f_75:active, .f_75:hover, .f_75:link, .f_75:visited, .f_75:focus {
    color: #757575; }

.placeholder::-webkit-input-placeholder {
  color: #ccc; }

::-webkit-input-placeholder {
  color: #ccc; }

/*背景颜色*/
.bg_white, .bg_fff {
  background-color: #fff; }

.bg_fff_blue_res {
  background-color: #fff; }
  .bg_fff_blue_res.active, .bg_fff_blue_res:hover {
    background-color: #01B7F2;
    color: #fff; }
  .bg_fff_blue_res:active, .bg_fff_blue_res:focus, .bg_fff_blue_res:visited {
    background-color: #00a3d8;
    color: #fff; }
  .bg_fff_blue_res.disabled, .bg_fff_blue_res[disabled] {
    background-color: #DCDCDC;
    color: #757575; }

.bg_body, .bg_f5 {
  background-color: #f5f5f5; }

.bg_wx {
  background-color: #393a3f;
  color: #fff; }

/*微信黑*/
.bg_wx_ios {
  background-color: #1c1c20;
  color: #fff; }

/*微信黑*/
.bg_lightGray {
  background-color: #f9f9f9; }

/*灰色*/
.bg_gray {
  background-color: #757575; }

/*灰色*/
.bg_darkgray {
  background-color: #585c64; }

/*深灰色*/
.bg_disabled {
  background-color: #9a9a9a;
  cursor: not-allowed !important; }

/*禁止点击*/
.bg_black, .bg_000 {
  background-color: #000; }

/*黑色*/
.bg_orange {
  background-color: #fd9900; }

.bg_yellow {
  background-color: #fdd835; }

.bg_blue {
  background-color: #0097ff; }

.bg_blue_res {
  background-color: #01B7F2;
  color: #fff; }
  .bg_blue_res.active, .bg_blue_res:hover {
    background-color: #01B7F2;
    color: #fff; }
  .bg_blue_res:active, .bg_blue_res:focus, .bg_blue_res:visited {
    background-color: #00a3d8;
    color: #fff; }
  .bg_blue_res.disabled, .bg_blue_res[disabled] {
    background-color: #ccc;
    color: #757575; }

.bg_sky {
  background-color: #40bdec; }

.bg_green {
  background-color: #1aad19; }

.bg_red {
  background-color: #FF7A6F; }

.noBg {
  background: transparent; }

/* 边框相关 */
.dashed_blue_res {
  color: #999;
  border: 1px dashed #DCDCDC; }
  .dashed_blue_res.active, .dashed_blue_res:hover {
    color: #70D2F5;
    border: 1px dashed #70D2F5; }
  .dashed_blue_res:active, .dashed_blue_res:focus, .dashed_blue_res:visited {
    color: #01B7F2;
    border: 1px dashed #01B7F2; }
  .dashed_blue_res.disabled, .dashed_blue_res[disabled] {
    color: #DCDCDC;
    border: 1px dashed #DCDCDC; }

/* 提示问题 */
.placeholder::-webkit-input-placeholder {
  color: #999; }

/* 颜色 */
body {
  width: 100%;
  background: #f7fbfc;
  font-family: "Helvetica", "Microsoft Yahei";
  font-size: 0.28rem;
  line-height: 1.5;
  color: #424242;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 移动端取消touch高亮效果 */
  outline: none; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, a, p, blockquote, table, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button, img {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  list-style-image: none;
  resize: none;
  outline: none; }

button, input, select, textarea {
  font-family: "Helvetica", "Microsoft Yahei"; }

/* 移除iOS上输入框默认有内部阴影 */
input, textarea {
  　　border: 0;
  　　-webkit-appearance: none;
  /* 可能引起安卓4.4以下版本checkbox隐藏，解决方案：用div代替checkbox */ }

textarea:disabled,
input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {
  background-color: #fff; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, object, select, input, textarea, button {
  vertical-align: middle;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

button {
  cursor: pointer; }
  button[disabled] {
    cursor: not-allowed; }

/**************************** 全局样式 ****************************/
.w750 {
  max-width: 750px;
  margin: 0 auto; }

/* 重置样式 */
/* 基础颜色 */
/**************************** 字体大小 ****************************/
.f12 {
  font-size: 0.12rem; }

.f13 {
  font-size: 0.13rem; }

.f14 {
  font-size: 0.14rem; }

.f15 {
  font-size: 0.15rem; }

.f16 {
  font-size: 0.16rem; }

.f17 {
  font-size: 0.17rem; }

.f18 {
  font-size: 0.18rem; }

.f19 {
  font-size: 0.19rem; }

.f20 {
  font-size: 0.2rem; }

.f21 {
  font-size: 0.21rem; }

.f22 {
  font-size: 0.22rem; }

.f23 {
  font-size: 0.23rem; }

.f24 {
  font-size: 0.24rem; }

.f25 {
  font-size: 0.25rem; }

.f26 {
  font-size: 0.26rem; }

.f27 {
  font-size: 0.27rem; }

.f28 {
  font-size: 0.28rem; }

.f29 {
  font-size: 0.29rem; }

.f30 {
  font-size: 0.3rem; }

.f31 {
  font-size: 0.31rem; }

.f32 {
  font-size: 0.32rem; }

.f33 {
  font-size: 0.33rem; }

.f34 {
  font-size: 0.34rem; }

.f35 {
  font-size: 0.35rem; }

.f36 {
  font-size: 0.36rem; }

.f37 {
  font-size: 0.37rem; }

.f38 {
  font-size: 0.38rem; }

.f39 {
  font-size: 0.39rem; }

.f40 {
  font-size: 0.4rem; }

.f41 {
  font-size: 0.41rem; }

.f42 {
  font-size: 0.42rem; }

.f43 {
  font-size: 0.43rem; }

.f44 {
  font-size: 0.44rem; }

.f45 {
  font-size: 0.45rem; }

.f46 {
  font-size: 0.46rem; }

.f47 {
  font-size: 0.47rem; }

.f48 {
  font-size: 0.48rem; }

.f49 {
  font-size: 0.49rem; }

.f50 {
  font-size: 0.5rem; }

.f51 {
  font-size: 0.51rem; }

.f52 {
  font-size: 0.52rem; }

.f53 {
  font-size: 0.53rem; }

.f54 {
  font-size: 0.54rem; }

.f55 {
  font-size: 0.55rem; }

.f56 {
  font-size: 0.56rem; }

.f57 {
  font-size: 0.57rem; }

.f58 {
  font-size: 0.58rem; }

.f59 {
  font-size: 0.59rem; }

.f60 {
  font-size: 0.6rem; }

.f61 {
  font-size: 0.61rem; }

.f62 {
  font-size: 0.62rem; }

.f63 {
  font-size: 0.63rem; }

.f64 {
  font-size: 0.64rem; }

.f65 {
  font-size: 0.65rem; }

.f66 {
  font-size: 0.66rem; }

.f67 {
  font-size: 0.67rem; }

.f68 {
  font-size: 0.68rem; }

.f69 {
  font-size: 0.69rem; }

.f70 {
  font-size: 0.7rem; }

.f71 {
  font-size: 0.71rem; }

.f72 {
  font-size: 0.72rem; }

.f73 {
  font-size: 0.73rem; }

.f74 {
  font-size: 0.74rem; }

.f75 {
  font-size: 0.75rem; }

.f76 {
  font-size: 0.76rem; }

.f77 {
  font-size: 0.77rem; }

.f78 {
  font-size: 0.78rem; }

.f79 {
  font-size: 0.79rem; }

.f80 {
  font-size: 0.8rem; }

.f81 {
  font-size: 0.81rem; }

.f82 {
  font-size: 0.82rem; }

.f83 {
  font-size: 0.83rem; }

.f84 {
  font-size: 0.84rem; }

.f85 {
  font-size: 0.85rem; }

.f86 {
  font-size: 0.86rem; }

.f87 {
  font-size: 0.87rem; }

.f88 {
  font-size: 0.88rem; }

.f89 {
  font-size: 0.89rem; }

.f90 {
  font-size: 0.9rem; }

.f91 {
  font-size: 0.91rem; }

.f92 {
  font-size: 0.92rem; }

.f93 {
  font-size: 0.93rem; }

.f94 {
  font-size: 0.94rem; }

.f95 {
  font-size: 0.95rem; }

.f96 {
  font-size: 0.96rem; }

.f97 {
  font-size: 0.97rem; }

.f98 {
  font-size: 0.98rem; }

.f99 {
  font-size: 0.99rem; }

.f100 {
  font-size: 1rem; }

/**************************** margin | padding ****************************/
.mg_0 {
  margin: 0rem; }

.mg_l_0 {
  margin-left: 0rem; }

.mg_r_0 {
  margin-right: 0rem; }

.mg_t_0 {
  margin-top: 0rem; }

.mg_b_0 {
  margin-bottom: 0rem; }

.mg_5 {
  margin: 0.05rem; }

.mg_l_5 {
  margin-left: 0.05rem; }

.mg_r_5 {
  margin-right: 0.05rem; }

.mg_t_5 {
  margin-top: 0.05rem; }

.mg_b_5 {
  margin-bottom: 0.05rem; }

.mg_8 {
  margin: 0.08rem; }

.mg_l_8 {
  margin-left: 0.08rem; }

.mg_r_8 {
  margin-right: 0.08rem; }

.mg_t_8 {
  margin-top: 0.08rem; }

.mg_b_8 {
  margin-bottom: 0.08rem; }

.mg_10 {
  margin: 0.1rem; }

.mg_l_10 {
  margin-left: 0.1rem; }

.mg_r_10 {
  margin-right: 0.1rem; }

.mg_t_10 {
  margin-top: 0.1rem; }

.mg_b_10 {
  margin-bottom: 0.1rem; }

.mg_15 {
  margin: 0.15rem; }

.mg_l_15 {
  margin-left: 0.15rem; }

.mg_r_15 {
  margin-right: 0.15rem; }

.mg_t_15 {
  margin-top: 0.15rem; }

.mg_b_15 {
  margin-bottom: 0.15rem; }

.mg_20 {
  margin: 0.2rem; }

.mg_l_20 {
  margin-left: 0.2rem; }

.mg_r_20 {
  margin-right: 0.2rem; }

.mg_t_20 {
  margin-top: 0.2rem; }

.mg_b_20 {
  margin-bottom: 0.2rem; }

.pd_0 {
  padding: 0rem; }

.pd_l_0 {
  padding-left: 0rem; }

.pd_r_0 {
  padding-right: 0rem; }

.pd_t_0 {
  padding-top: 0rem; }

.pd_b_0 {
  padding-bottom: 0rem; }

.pd_5 {
  padding: 0.05rem; }

.pd_l_5 {
  padding-left: 0.05rem; }

.pd_r_5 {
  padding-right: 0.05rem; }

.pd_t_5 {
  padding-top: 0.05rem; }

.pd_b_5 {
  padding-bottom: 0.05rem; }

.pd_8 {
  padding: 0.08rem; }

.pd_l_8 {
  padding-left: 0.08rem; }

.pd_r_8 {
  padding-right: 0.08rem; }

.pd_t_8 {
  padding-top: 0.08rem; }

.pd_b_8 {
  padding-bottom: 0.08rem; }

.pd_10 {
  padding: 0.1rem; }

.pd_l_10 {
  padding-left: 0.1rem; }

.pd_r_10 {
  padding-right: 0.1rem; }

.pd_t_10 {
  padding-top: 0.1rem; }

.pd_b_10 {
  padding-bottom: 0.1rem; }

.pd_15 {
  padding: 0.15rem; }

.pd_l_15 {
  padding-left: 0.15rem; }

.pd_r_15 {
  padding-right: 0.15rem; }

.pd_t_15 {
  padding-top: 0.15rem; }

.pd_b_15 {
  padding-bottom: 0.15rem; }

.pd_20 {
  padding: 0.2rem; }

.pd_l_20 {
  padding-left: 0.2rem; }

.pd_r_20 {
  padding-right: 0.2rem; }

.pd_t_20 {
  padding-top: 0.2rem; }

.pd_b_20 {
  padding-bottom: 0.2rem; }

/**************************** halfBorder—0.5px的边框，className:pb_t_d_b; ****************************/
.hb_a_c_b {
  position: relative; }

.hb_a_c_b:before {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  all: 0;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: transparent;
  border: 1px solid #ccc;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px; }

.hb_t_c_b {
  position: relative; }

.hb_t_c_b:before {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5); }

.hb_b_c_b {
  position: relative; }

.hb_b_c_b:before {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5); }

.hb_l_c_b {
  position: relative; }

.hb_l_c_b:before {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  left: 0;
  top: 20%;
  bottom: 20%;
  width: 1px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5); }

.hb_r_c_b {
  position: relative; }

.hb_r_c_b:before {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  right: 0;
  top: 20%;
  bottom: 20%;
  width: 1px;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5); }

.hb_t_c_a {
  position: relative; }

.hb_t_c_a:after {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5); }

.hb_b_c_a {
  position: relative; }

.hb_b_c_a:after {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5); }

.hb_l_c_a {
  position: relative; }

.hb_l_c_a:after {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  left: 0;
  top: 20%;
  bottom: 20%;
  width: 1px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5); }

.hb_r_c_a {
  position: relative; }

.hb_r_c_a:after {
  content: " ";
  position: absolute;
  border: 0;
  background: #ccc;
  right: 0;
  top: 20%;
  bottom: 20%;
  width: 1px;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5); }

/************************************** 透明度 **************************************/
.opacity0 {
  opacity: 0; }

.opacity10 {
  opacity: 10; }

.opacity50 {
  opacity: 50; }

.opacity65 {
  opacity: 65; }

.opacity75 {
  opacity: 75; }

.opacity90 {
  opacity: 90; }

/************************************** scroll滚动条样式 **************************************/
.scrollbar {
  -webkit-overflow-scrolling: touch; }

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

/* button:滚动条两端的按钮 */
/* Track:外层轨道 */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0); }

/* track-piece:内层轨道 */
/* Handle:滑块 */
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3); }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    /* 滑块悬浮 */
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5); }
  .scrollbar::-webkit-scrollbar-thumb:vertical {
    /* 纵向滑块 */ }
    .scrollbar::-webkit-scrollbar-thumb:vertical:hover {
      /* 纵向滑块悬浮 */
      cursor: pointer;
      cursor: -webkit-grab; }

/* corner:边角 */
/* resizer:右下角拖动块的样式 */
/* 滚动条样式在IE及Firefox不兼容，所有子层宽度要减小 */
/* Firefox 3.5+, IE 9/10, Opera */
/* @media screen and (min-resolution: +72dpi) {width:258px;} */
/* Firefox 3.6+ */
/* @media screen and (-moz-images-in-menus:0) {width:258px;} */
/* Firefox 4+ */
/* @media screen and (min--moz-device-pixel-ratio:0) {width:258px;} */
/* Chrome, Safari 3+ */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {width:270px;} */
.scrollbar0 {
  -webkit-overflow-scrolling: touch; }

.scrollbar0::-webkit-scrollbar {
  width: 0;
  height: 0; }

/* button:滚动条两端的按钮 */
/* Track:外层轨道 */
.scrollbar0::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0); }

/* track-piece:内层轨道 */
/* Handle:滑块 */
.scrollbar0::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3); }
  .scrollbar0::-webkit-scrollbar-thumb:hover {
    /* 滑块悬浮 */
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5); }
  .scrollbar0::-webkit-scrollbar-thumb:vertical {
    /* 纵向滑块 */ }
    .scrollbar0::-webkit-scrollbar-thumb:vertical:hover {
      /* 纵向滑块悬浮 */
      cursor: pointer;
      cursor: -webkit-grab; }

/* corner:边角 */
/* resizer:右下角拖动块的样式 */
/* 滚动条样式在IE及Firefox不兼容，所有子层宽度要减小 */
/* Firefox 3.5+, IE 9/10, Opera */
/* @media screen and (min-resolution: +72dpi) {width:258px;} */
/* Firefox 3.6+ */
/* @media screen and (-moz-images-in-menus:0) {width:258px;} */
/* Firefox 4+ */
/* @media screen and (min--moz-device-pixel-ratio:0) {width:258px;} */
/* Chrome, Safari 3+ */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {width:270px;} */
/**************************** 边框 ****************************/
/* .bd_t_0,.bd_b_1 */
.bd_0 {
  border: 0px solid #ccc; }

.bd_t_0 {
  border-top: 0px solid #ccc; }

.bd_b_0 {
  border-bottom: 0px solid #ccc; }

.bd_l_0 {
  border-left: 0px solid #ccc; }

.bd_r_0 {
  border-right: 0px solid #ccc; }

.bd_1 {
  border: 1px solid #ccc; }

.bd_t_1 {
  border-top: 1px solid #ccc; }

.bd_b_1 {
  border-bottom: 1px solid #ccc; }

.bd_l_1 {
  border-left: 1px solid #ccc; }

.bd_r_1 {
  border-right: 1px solid #ccc; }

.noBorder, .border0 {
  border: 0; }

/**************************** 圆角 ****************************/
/* .radius0 */
.radius0 {
  border-radius: 0px; }

.radius2 {
  border-radius: 0px; }

.radius4 {
  border-radius: 0px; }

.radius8 {
  border-radius: 0px; }

.radius_circle {
  border-radius: 50%; }

/************************************** flex弹性布局 **************************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.flex.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.flex.row-nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.flex.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex.items-center, .flex.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.flex.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.flex.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.flex.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.flex.content-center {
  -ms-flex-line-pack: center;
      align-content: center; }

.flex.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.flex.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.flex.content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.flex .flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex .flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.flex .flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flex .flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.flex .flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5; }

.flex .item-order {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.flex .item-grow {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.flex .item-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.flex .item-basis {
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

.flex .item-flex {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.flex .item-self {
  -ms-flex-item-align: auto;
      align-self: auto; }

.flex .item-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.flex .item-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.flex .item-center {
  -ms-flex-item-align: center;
      align-self: center; }

.flex .item-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline; }

.flex .item-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch; }

/**************************** 宽高 ****************************/
.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.wh100 {
  width: 100%;
  height: 100%; }

.autoW {
  width: auto; }

.autoH {
  height: auto; }

.h96 {
  height: 0.96rem;
  line-height: 0.96rem; }

/**************************** 行高 ****************************/
.lh1 {
  line-height: 1; }

.lh12 {
  line-height: 1.2; }

.lh13 {
  line-height: 1.3; }

.lh14 {
  line-height: 1.4; }

.lh15 {
  line-height: 1.5; }

.lh2 {
  line-height: 2.0; }

.bold {
  font-weight: bold; }

/**************************** 浮动 ****************************/
.fl, .pull-left {
  float: left; }

.fr, .pull-right {
  float: right; }

.fn, .pull-none {
  float: none; }

/**************************** 文字对齐方式 ****************************/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-top {
  vertical-align: top; }

.text-bottom {
  vertical-align: bottom; }

.text-middle {
  vertical-align: middle; }

.text-sub {
  vertical-align: sub; }

/**************************** position|display|visibility ****************************/
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.show {
  display: block; }

.inlineBlock {
  display: inline-block; }

.hide {
  display: none; }

.clear {
  clear: both; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.collapse {
  visibility: collapse; }

/**************************** other ****************************/
.br {
  width: 100%;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  clear: both;
  display: block; }

.noAfter:after, .noBefore:before {
  display: none;
  content: inherit;
  border: 0; }

/* z-index */
.zIndex1 {
  z-index: 1; }

.zIndex2 {
  z-index: 2; }

/* cursor */
.pointer {
  cursor: pointer; }

.notAllowed {
  cursor: not-allowed; }

/************************************** X行超出隐藏 **************************************/
.noResize {
  resize: none; }

.overhide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.overhide2 {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.overhide3 {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.overhide4 {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

/************************************** 滚动条 **************************************/
.overAuto {
  overflow: auto; }

.scrollX {
  overflow-x: auto; }

.scrollY {
  overflow-y: auto; }

.scrollXHide {
  overflow-x: hidden; }

.scrollYHide {
  overflow-y: hidden; }

.noScroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

/************************************** 禁止选中 **************************************/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /**************************** IE 10+ ****************************/ }

/************************************** 单选框 **************************************/
input.square[type="checkbox"] {
  border: 1px solid #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background: white;
  -webkit-appearance: none;
  border-radius: 2px;
  vertical-align: middle;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  margin-top: -3px; }
  input.square[type="checkbox"]:before {
    content: "\2714";
    font-size: 8px;
    outline: none; }
  input.square[type="checkbox"]:checked {
    background: #40BDEC;
    border: none;
    color: #fff;
    outline: none; }

/********************************************************** CSS图形 **********************************************************/
.cusp:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 1px 1px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px; }

.hookRem {
  width: 0.44rem;
  height: 0.22rem;
  position: relative;
  left: 50%;
  margin-left: -0.18rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden; }
  .hookRem:before, .hookRem:after {
    content: "";
    position: absolute;
    background: #2ad779;
    border-radius: 0.01rem; }
  .hookRem:before {
    width: 0.04rem;
    height: 0.22rem;
    left: 0; }
  .hookRem:after {
    width: 0.4rem;
    height: 0.04rem;
    bottom: 0; }

@-webkit-keyframes dgLeft {
  0% {
    top: -100%; }
  100% {
    top: 0%; } }

@keyframes dgLeft {
  0% {
    top: -100%; }
  100% {
    top: 0%; } }

@-webkit-keyframes dgRight {
  0% {
    left: -100%; }
  100% {
    left: 0%; } }

@keyframes dgRight {
  0% {
    left: -100%; }
  100% {
    left: 0%; } }
  .hookRem.animation:before {
    -webkit-animation: dgLeft 0.3s linear 0.5s 1 both;
            animation: dgLeft 0.3s linear 0.5s 1 both; }
  .hookRem.animation:after {
    -webkit-animation: dgRight 0.2s linear 0.8s 1 both;
            animation: dgRight 0.2s linear 0.8s 1 both; }

.hook {
  width: 44px;
  height: 22px;
  position: relative;
  left: 50%;
  margin-left: -18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden; }
  .hook:before, .hook:after {
    content: "";
    position: absolute;
    background: #10AB62;
    border-radius: 0.8px; }
  .hook:before {
    width: 4px;
    height: 22px;
    left: 0; }
  .hook:after {
    width: 40px;
    height: 4px;
    bottom: 0; }

@keyframes dgLeft {
  0% {
    top: -100%; }
  100% {
    top: 0%; } }

@keyframes dgRight {
  0% {
    left: -100%; }
  100% {
    left: 0%; } }
  .hook.animation:before {
    -webkit-animation: dgLeft 0.3s linear 0.5s 1 both;
            animation: dgLeft 0.3s linear 0.5s 1 both; }
  .hook.animation:after {
    -webkit-animation: dgRight 0.2s linear 0.8s 1 both;
            animation: dgRight 0.2s linear 0.8s 1 both; }

/**************************** 三角形：https://css-tricks.com/examples/ShapesOfCSS/ ****************************/
.triangle-left {
  width: 0;
  height: 0;
  border-color: #000;
  border-top: 50px solid transparent;
  border-right: 100px solid #000;
  border-bottom: 50px solid transparent; }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent; }

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover > .arrow {
  border-width: 7px; }
  .popover > .arrow:after {
    border-width: 6px;
    content: ""; }

.popover.top > .arrow {
  left: 50%;
  margin-left: -7px;
  border-bottom-width: 0;
  border-top-color: #c3c3c3;
  bottom: -7px; }
  .popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -6px;
    border-bottom-width: 0;
    border-top-color: #fafafa; }

.popover.right > .arrow {
  top: 50%;
  left: -7px;
  margin-top: -7px;
  border-left-width: 0;
  border-right-color: #c3c3c3; }
  .popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -6px;
    border-left-width: 0;
    border-right-color: #fafafa; }

.popover.bottom > .arrow {
  left: 50%;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #c3c3c3;
  top: -7px; }
  .popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fafafa; }

.popover.left > .arrow {
  top: 50%;
  right: -7px;
  margin-top: -7px;
  border-right-width: 0;
  border-left-color: #c3c3c3; }
  .popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fafafa;
    bottom: -6px; }

.arrow_up {
  position: relative;
  background: #fff;
  border: 1px solid #d5d5d5; }
  .arrow_up:after, .arrow_up:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow_up:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .arrow_up:before {
    border-color: rgba(213, 213, 213, 0);
    border-bottom-color: #d5d5d5;
    border-width: 11px;
    margin-left: -11px; }

.arrow_up_noBd {
  position: relative;
  background: #fffafa; }
  .arrow_up_noBd:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 250, 250, 0);
    border-bottom-color: #fffafa;
    border-width: 8px;
    margin-left: -8px; }

.arrowUp:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center; }

.arrowDown:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center; }

.arrowRight:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center; }

/* 语法糖 */
